<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/Layout">
<head>
    <title>Test Page</title>
    <script src="/js/jquery.jsonPresenter.js"></script>
    <script>

        function getCode(){
            location.href="http://localhost:8080/oauth/authorize?client_id=crmClient-redirect&response_type=code";
        }

        function getToken() {
            var hostname = window.location.origin;
            $.ajax({
                // url: "https://telemedicine-api-delightful-roan.34.203.146.2.xip.io/",
                url: hostname+"/oauth/token",
                type: "POST"
                , dataType: "json"
                // , jsonp : "jsonp"
                , contentType: "application/json"
                , crossDomain: true,
                xhrFields: {
                    withCredentials: true
                }
                , headers: {
                   // 'Authorization': 'Basic Y3JtQ2xpZW50MTpjcm1TdXBlclNlY3JldA==',
                    'Authorization': 'Basic '+btoa($('#clientid').val() + ":" + $('#secret').val()),
                    'Cache-Control': 'no-cache',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    "Access-Control-Allow-Origin": "*"
                    , "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS"
                    , "Access-Control-Allow-Headers": "origin, x-requested-with, content-type, accept"
                },
                data: {'username': $('#userid').val(), 'password': $('#userpw').val(), 'grant_type': "password"}
            }).then(function (data) {
                $('#stoken').val(data.access_token);
               // $('#srefresh_token').val(data.refresh_token);
            });
        }

        function setUrl(){
            var hostname = window.location.origin;
            //var sdomain = $(location).attr('host');
            $('#surl').val( hostname+$('#apiid').val());
        }

        function getData() {

            $('#json-container').jsonPresenter({
                json: "", // JSON objects here
            });

            $.ajax({
                // url: "https://telemedicine-api-delightful-roan.34.203.146.2.xip.io/",
                //url: "http://localhost:8080"+$('#apiid').val(),
                url: $('#surl').val(),
                type: "GET"
                , dataType: "json"
                , contentType: "application/json"
                , crossDomain: true
                , xhrFields: {
                    withCredentials: true
                }
                , headers: {
                   // 'Authorization': 'Basic Y3JtQ2xpZW50MTpjcm1TdXBlclNlY3JldA==',
                    'Cache-Control': 'no-cache',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    "Access-Control-Allow-Origin": "*"
                    //,"Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS"
                    //,"Access-Control-Allow-Headers": "origin, x-requested-with, content-type, accept"
                    , "Authorization": "Bearer " + $('#stoken').val()
                }
                //,data: {'username': $('#userid').val(), 'password': $('#userpw').val(),'grant_type': "password"}
            }).then(function (data) {
                $('#json-container').jsonPresenter({
                    json: data, // JSON objects here
                });
            });
        }
    </script>
</head>
    <section layout:fragment="content">
           <p></p>
            <div class="container-fluid">
                <div class="row">

                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                        <div class="table-responsive">

                                <div class="form-group">
                                    <label for="clientid">clientid</label>
                                    <input type="text" class="form-control" name="clientid" id="clientid" value="crmClient1">
                                </div>

                                <div class="form-group">
                                    <label for="secret">secret</label>
                                    <input type="text" class="form-control" name="secret" id="secret" value="crmSuperSecret">
                                </div>

                                <div class="form-group ">
                                    <label for="userid" >ID</label>
                                    <input type="text" class="form-control" id="userid" th:value="${userinfo.userId}">
                                </div>
                                <div class="form-group">
                                    <label for="userpw">Password</label>
                                    <input type="password" class="form-control" id="userpw" th:value="${userinfo.pass}">
                                </div>

                                <div class="form-group">
                                    <input type="button" class="btn btn-primary" value="getToken" onclick="getToken()">
                                </div>

                                <div class="form-group">
                                    <label for="stoken">Access Token</label>
                                    <input type="text" class="form-control" name="stoken" id="stoken" >
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <select class="custom-select" id="apiid" onchange="setUrl()">
                                            <option selected>Choose...</option>
                                            <option value="/api">OPEN API Repository 목록</option>
                                            <option value="/api/hospinfo">병원정보</option>
                                            <option value="/api/deptinfo">진료과목정보</option>
                                            <option value="/api/member">회원정보</option>
                                            <option value="/api/telemedicines">원격진료정보</option>
                                            <option value="/api/lifelogca">크로이드 스마트밴드 활동량</option>
                                            <option value="/api/lifelogca250">크로이드 스마트밴드 활동량 250</option>
                                            <option value="/api/lifelogcs">크로이드 스마트밴드 수면</option>
                                            <option value="/api/lifelogcs250">크로이드 스마트밴드 수면 250</option>
                                            <option value="/api/lifelogrb">리본혈당</option>s
                                            <option value="/api/lifelogbb">보령협압</option>
                                        </select>
                                        <div class="input-group-append">
                                            <label class="input-group-text" for="apiid" >API</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control"  id="surl">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" onclick="getData()">Go</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div id="json-container">...</div>
                                </div>
                        </div>
                    </main>
                </div>
            </div>
    </section>


</body>
</html>
