<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Telemedicine Opan Api Dev</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="/css/userinfo.css" rel="stylesheet">
</head>
<script>
    function saveUser(){
        $('#saveForm').submit();
    }
</script>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Telemedicine</a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/user">
                            <span data-feather="home"></span>
                            개발자 정보
                            <!--<span class="sr-only">(current)</span>-->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/test">
                            <span data-feather="file"></span>
                            Api Test
                        </a>
                    </li>
                </ul>
            </div>s
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto px-4">
            <div class="table-responsive">
                <form id="saveForm" name="saveForm" action="#" th:action="@{/user}" th:object="${user}" method="post">
                    <div class="container">
                        <h1>개발자 정보</h1>
                        <hr>

                        <label><b>ID </b></label>
                        <input type="text" placeholder="Enter userid" name="userId" id="userId" th:value="${userinfo.userId}" readonly >

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="pass"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="pass" id="pass" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="repass"><b>Repeat Password</b></label>
                                <input type="password" placeholder="Repeat Password" name="repass" id="repass" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label><b>Name </b></label>
                                <input type="text" placeholder="Enter name" name="name" id="name" th:value="${userinfo.name}"  >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label><b>Email </b></label>
                                <input type="text" placeholder="Enter email" name="email" id="email" th:value="${userinfo.email}"  >
                            </div>
                        </div>

                        <label><b>Role Type </b></label>
                        <input type="text" placeholder="Enter role type" name="roleType" id="roleType" th:value="${userinfo.roleType}"  >

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label><b>CLIENT_ID </b></label>
                                <input type="text" name="clientId" id="clientId" readonly value="crmClient1s">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label><b>CLIENT_SECRET </b></label>
                                <input type="text" name="clientSecret" id="clientSecret" readonly value="crmSuperSecret">
                            </div>
                        </div>

                        <div class="clearfix">
                            <button type="button" class="cancelbtn">Cancel</button>
                            <button type="button" class="signupbtn" onclick="saveUser()">Save</button>
                        </div>


                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="http://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->

</body>
</html>
