
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">s
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Telemedicine Open Api</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.1/examples/floating-labels/floating-labels.css" rel="stylesheet">
</head>

<body>
<form class="form-signin" action="/signin"  method="post">
    <div class="text-center mb-4">
       <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <img class="mb-4" src="/img/tb.png" alt="" >
        <h1 class="h3 mb-3 font-weight-normal">Telemedicine Open Api</h1>
        <p></p>
        <!--
        <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
        -->
    </div>

    <div class="form-label-group">
        <input type="text" id="userid" name="userid" class="form-control" placeholder="" required autofocus value="test1">
        <label for="userid">login id</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required value="1234">
        <label for="password">Password</label>
    </div>
<!--
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center"><a th:href="@{/signup}">Sign up</a> </p>
</form>
</body>
</html>
