<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Telemedicine Opan Api Dev</title>
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <link rel='stylesheet' href='/webjars/bootstrap/4.1.0/css/bootstrap.min.css'>
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="/css/userinfo.css" rel="stylesheet">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</head>
<script>

    $(document).ready(function() {
        feather.replace();

        var txtPassword = document.getElementById("pass");
        var txtConfirmPassword = document.getElementById("repass");
        txtPassword.onchange = ConfirmPassword;
        txtConfirmPassword.onkeyup = ConfirmPassword;
        function ConfirmPassword() {
            txtConfirmPassword.setCustomValidity("");
            if (txtPassword.value != txtConfirmPassword.value) {
                txtConfirmPassword.setCustomValidity("Passwords do not match.");
            }
        }
    });
    
    function goHome() {
        location.href= "/login";
    }
</script>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Telemedicine</a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign out</a>
        </li>
    </ul>
    -->
</nav>

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto">
            <div class="table-responsive">
                <form id="saveForm" name="saveForm" action="#" th:action="@{/signup}" th:object="${user}" method="post">
                    <div class="container">
                        <h1>개발자 등록</h1>
                        <hr>

                        <label><b>ID </b></label>
                        <input type="text" placeholder="Enter userid" name="userId" id="userId" required >

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="pass"><b>Password</b></label>
                                <input type="password" class="form-control" placeholder="Enter Password" name="pass" id="pass"
                                       title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number"
                                       pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="repass"><b>Repeat Password</b></label>
                                <input type="password" class="form-control" placeholder="Repeat Password" name="repass" id="repass" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label><b>Name </b></label>
                                <input type="text" placeholder="Enter name" name="name" id="name"   required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label><b>Email </b></label>
                                <input type="email" placeholder="Enter email" name="email" id="email"  required>
                            </div>
                        </div>

                        <!-- <div class="row" sec:authorize="hasRole('ROLE_ADMIN')" >-->
                        <div class="row" th:hidden="true">
                            <div class="col-md-6 mb-3">
                                <label><b>Role Type </b></label>
                                <!--
                                    <input type="text" placeholder="Enter role type" name="roleType" id="roleType" th:value="${userinfo.roleType}"  >
                                -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="ADMIN" id="roleType1" name="roleType" th:checked="false">
                                    <label class="form-check-label" for="roleType1">
                                        ADMIN Role
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="USER" id="roleType2" name="roleType" th:checked="true">
                                    <label class="form-check-label" for="roleType2">
                                        USER Role
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" th:hidden="true">
                            <div class="col-md-6 mb-3">
                                <label><b>CLIENT_ID </b></label>
                                <input type="text" name="clientId" id="clientId" readonly value="crmClient1s">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label><b>CLIENT_SECRET </b></label>
                                <input type="text" name="clientSecret" id="clientSecret" readonly value="crmSuperSecret">
                            </div>
                        </div>

                        <div class="clearfix">
                            <button type="button" class="cancelbtn" onclick="goHome()">Cancel</button>
                            <button type="submit" class="signupbtn" >Save</button>
                        </div>


                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
</body>
</html>
